<!DOCTYPE html>
<div th:fragment="styles">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/css/all.css}"/>

    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}" defer></script>
</div>

<div th:fragment="confirmationModal(confirmationText)">
    <!-- Bootstrap Modal for Confirmation -->
    <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmationModalLabel"
                        th:text="#{delete.confirmation.title}"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" th:text="${confirmationText}">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                            th:text="#{delete.confirmation.btn.cancel}"></button>
                    <a id="confirmDeleteButton" class="btn btn-danger" href="#"
                       th:text="#{delete.confirmation.btn.ok}"></a>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var deleteLinks = document.querySelectorAll('.delete-link');
            var confirmDeleteButton = document.getElementById('confirmDeleteButton');
            var confirmationModal = new bootstrap.Modal(document.getElementById('confirmationModal'));

            deleteLinks.forEach(function (link) {
                link.addEventListener('click', function (event) {
                    event.preventDefault(); // Prevent the default link behavior
                    var deleteUrl = this.getAttribute('href');
                    confirmDeleteButton.setAttribute('href', deleteUrl);
                    confirmationModal.show();
                });
            });
        });

        function changePageSize() {
            $("#searchForm").submit();
        }
    </script>
</div>

<nav th:fragment="navbar" class="navbar navbar-expand py-lg-2 bg-darken navbar-light-text mb-5">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <i class="fa-solid fa-school"></i>
            </a>
        </div>

        <ul class="nav navbar-nav ">
            <li class="nav-item" th:classappend="${requestURI == urlMappings.COURSE_LIST} ? 'active'">
                <a class="nav-link" th:href="@{${urlMappings.COURSE_LIST}}">[[#{nav.course-list}]]</a>
            </li>
            <li class="nav-item" th:classappend="${requestURI == urlMappings.COURSE_CREATE} ? 'active'">
                <a class="nav-link" th:href="@{${urlMappings.COURSE_CREATE}}">[[#{nav.course-create}]]</a>
            </li>
            <li class="nav-item" th:classappend="${requestURI == urlMappings.STUDENT_LIST} ? 'active'">
                <a class="nav-link" th:href="@{${urlMappings.STUDENT_LIST}}">[[#{nav.student-list}]]</a>
            </li>
            <li class="nav-item" th:classappend="${requestURI == urlMappings.STUDENT_CREATE} ? 'active'">
                <a class="nav-link" th:href="@{${urlMappings.STUDENT_CREATE}}">[[#{nav.student-create}]]</a>
            </li>
            <li class="nav-item" th:classappend="${requestURI == urlMappings.STUDENT_COURSE_ASSIGNMENT} ? 'active'">
                <a class="nav-link" th:href="@{${urlMappings.STUDENT_COURSE_ASSIGNMENT}}">[[#{nav.student-course-assignment}]]</a>
            </li>
        </ul>
    </div>
</nav>


