<!DOCTYPE html>
<!-- fragments/pagination2.html -->
<nav th:fragment="pagination(currentPage, totalPages, url)">
    <nav aria-label="Pagination" th:if="${totalPages > 0}">
        <ul class="pagination justify-content-center">
            <!-- First Page Button -->
            <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                <a th:replace="~{fragments/pagination2 :: paging(1, '<<', 'First Page', ${url})}"></a>
            </li>
            <!-- Previous Page Button -->
            <li class="page-item font-weight-bold" th:classappend="${currentPage == 1} ? 'disabled'">
                <a th:replace="~{fragments/pagination2 :: paging(${currentPage - 1}, 'Prev', 'Previous Page', ${url})}"></a>
            </li>
            <!-- Ellipsis if needed -->
            <li class="page-item disabled" th:if="${currentPage - 2 > 1}">
                <a class="page-link" href="#">...</a>
            </li>
            <!-- Page Numbers -->
            <li class="page-item" th:classappend="${page == currentPage} ? 'active'"
                th:each="page : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}">
                <a th:replace="~{fragments/pagination2 :: paging(${page}, ${page}, 'Page ' + ${page}, ${url})}"></a>
            </li>
            <!-- Ellipsis if needed -->
            <li class="page-item disabled" th:if="${currentPage + 2 < totalPages}">
                <a class="page-link" href="#">...</a>
            </li>
            <!-- Next Page Button -->
            <li class="page-item font-weight-bold" th:classappend="${currentPage == totalPages} ? 'disabled'">
                <a th:replace="~{fragments/pagination2 :: paging(${currentPage + 1}, 'Next', 'Next Page', ${url})}"></a>
            </li>
            <!-- Last Page Button -->
            <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                <a th:replace="~{fragments/pagination2 :: paging(${totalPages}, '>>', 'Last Page', ${url})}"></a>
            </li>
        </ul>
    </nav>
</nav>

<a th:fragment="paging(pageNum, label, tooltip, url)" class="page-link"
   th:href="@{${url}
            +'?'
            + ${keyword!=null && keyword!=''? 'keyword=' + keyword + '&' : ''}
            + 'page=' + ${pageNum} + '&size=' + ${pageSize}
            + ${sortField!=null ? '&sort=' + sortField + ',' + sortDirection : ''}}"
   th:title="${tooltip}" rel="tooltip">
    [[${label}]]
</a>
