<!DOCTYPE html>
<div th:fragment="cardFragment(title, courseList, courseSelection)">
    <div class="card">
        <h5 class="card-header d-flex justify-content-between align-items-center">
            <span th:text="${title}">Titel</span>
            <!-- Icon, das beim Klick das Formular leert -->
            <i class="fas fa-trash-alt" th:attr="data-title=${title}" style="cursor: pointer;"
               onclick="clearData(this)"></i>
        </h5>
        <input type="hidden" th:field="*{__${courseSelection}__.coursePrio1.id}">
        <input type="hidden" th:field="*{__${courseSelection}__.coursePrio2.id}">
        <input type="hidden" th:field="*{__${courseSelection}__.coursePrio3.id}">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <label th:for="${title + 'Prio1Id'}" class="form-label me-2">1.</label>
                <!-- Dropdown (Select) -->
                <!--                <select th:id="${title} + 'Prio1Id'" th:field="${studentCourse.courseSelectionMonday.coursePrio1.courseID}"-->
                <select th:id="${title} + 'Prio1Id'" th:field="*{__${courseSelection}__.coursePrio1.courseID}"
                        class="form-select me-4"
                        style="width: 250px;">
                    <option value="">Bitte wählen</option>
                    <!-- Option für jeden Kurs -->
                    <option th:each="course : ${courseList}"
                            th:value="${course.id}"
                            th:text="${course.name}">
                    </option>
                </select>
                <input type="text" th:attr="id=${title + 'Prio1Text'}"
                       th:field="*{__${courseSelection}__.coursePrio1.comment}"
                       class="form-control"
                       placeholder="Anmerkung"
                       style="flex-grow: 1;">
            </div>
            <div class="d-flex align-items-center mt-2">
                <label th:for="${title + 'Prio2Id'}" class="form-label me-2">2.</label>
                <!-- Dropdown (Select) -->
                <select th:id="${title} + 'Prio2Id'"
                        th:field="*{__${courseSelection}__.coursePrio2.courseID}"
                        class="form-select me-4" style="width: 250px;">
                    <option value="">Bitte wählen</option>
                    <!-- Option für jeden Kurs -->
                    <option th:each="course : ${courseList}"
                            th:value="${course.id}"
                            th:text="${course.name}">
                    </option>
                </select>
                <input type="text"
                       th:attr="id=${title + 'Prio2Text'}"
                       th:field="*{__${courseSelection}__.coursePrio2.comment}"
                       class="form-control" placeholder="Anmerkung"
                       style="flex-grow: 1;">
            </div>
            <div class="d-flex align-items-center mt-2">
                <label th:for="${title + 'Prio3Id'}" class="form-label me-2">3.</label>
                <!-- Dropdown (Select) -->
                <select th:id="${title} + 'Prio3Id'"
                        th:field="*{__${courseSelection}__.coursePrio3.courseID}"
                        class="form-select me-4" style="width: 250px;">
                    <option value="">Bitte wählen</option>
                    <!-- Option für jeden Kurs -->
                    <option th:each="course : ${courseList}"
                            th:value="${course.id}"
                            th:text="${course.name}">
                    </option>
                </select>
                <input type="text"
                       th:attr="id=${title + 'Prio3Text'}"
                       th:field="*{__${courseSelection}__.coursePrio3.comment}"
                       class="form-control" placeholder="Anmerkung"
                       style="flex-grow: 1;">
            </div>
        </div>
    </div>
    <!-- JavaScript, um den Button-Text zu aktualisieren -->
    <script>
        function setDropdownValue(element) {
            var buttonId = element.getAttribute('data-id');  // Hole die ID vom data-id-Attribut
            var button = document.getElementById(buttonId);
            button.textContent = element.textContent;  // Aktualisiere den Button-Text
        }

        function clearData(element) {
            let title = element.getAttribute("data-title");
            document.getElementById(title + "Prio1Id").value = ""
            document.getElementById(title + "Prio1Text").value = ""
            document.getElementById(title + "Prio2Id").value = ""
            document.getElementById(title + "Prio2Text").value = ""
            document.getElementById(title + "Prio3Id").value = ""
            document.getElementById(title + "Prio3Text").value = ""
        }
    </script>
</div>
