<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <th:block th:replace="fragments/general :: styles"></th:block>
    <title>#{course-create.title}</title>
</head>
<title>#{course-create.title}</title>
<body>

<!-- Nav bar -->
<div th:replace="fragments/general :: navbar"></div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <form th:action="@{${course.id == null ? urlMappings.COURSE_CREATE : urlMappings.getCourseEditUrl(course.id)}}"
                  th:object="${course}"
                  method="post" class="p-4 border rounded">
                <div class="mb-6 pt-3">
                    <label class="form-label" for="name" th:text="#{course-modify.name}"></label>
                    <input class="form-control" type="text" id="name" th:field="*{name}" required
                           aria-describedby="nameHelp"/>
                    <div id="nameHelp" class="form-text" th:text="#{course-modify.name.help}"></div>
                </div>
                <div class="mb-6 pt-3">
                    <label class="form-label" for="gradeLevel" th:text="#{course-modify.gradeLevel}"></label>
                    <input class="form-control" type="text" id="gradeLevel" th:field="*{gradeLevels}" required
                           aria-describedby="nameHelp"/>
                    <div id="gradeLevelHelp" class="form-text" th:text="#{course-modify.gradeLevel.help}"></div>
                </div>
                <div class="mb-6 pt-3">
                    <label class="form-label" for="instructor" th:text="#{course-modify.instructor}">:</label>
                    <input class="form-control" type="text" id="instructor" th:field="*{instructor}" required
                           aria-describedby="instructorHelp"/>
                    <div id="instructorHelp" class="form-text" th:text="#{course-modify.instructor.help}"></div>
                </div>
                <div class="mb-6 pt-3">
                    <label class="form-label" for="dayOfWeek" th:text="#{course-modify.day-of-week}"></label>
                    <select id="dayOfWeek" class="form-select" aria-describedby="dayOfWeekHelp"
                            th:field="*{dayOfWeek}">
                        <option th:each="day : ${allDays}"
                                th:value="${day}"
                                th:text="${day.getDisplayName()}">Wireframe
                        </option>
                    </select>
                    <div id="dayOfWeekHelp" class="form-text" th:text="#{course-modify.day-of-week.help}"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-6 d-flex justify-content-start">
                        <a th:href="@{${urlMappings.COURSE_LIST}}" class="btn btn-dark"
                           th:text="#{course-modify.link.back}"></a>
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                        <button th:if="${course.id == null}" type="submit" class="btn btn-dark"
                                th:text="#{course-modify.button.create}"></button>
                        <button th:if="${course.id != null}" type="submit" class="btn btn-dark"
                                th:text="#{course-modify.button.modify}"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
