<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <th:block th:replace="fragments/general :: styles"></th:block>
    <title th:text="#{course-list.title}"></title>
</head>
<body>
<div th:replace="fragments/general :: confirmationModal(#{course-list.delete.confirmation.text})"></div>

<!-- ----------------------------------------------------------------------- -->
<div class="container-fluid p-5 bg-primary text-white text-center">
    <h1 class="display-1" th:text="#{course-list.title}"></h1>
</div>
<!-- ----------------------------------------------------------------------- -->

<!-- -------Search field---------------------------------------------------- -->
<div th:replace="fragments/search :: search(${urlMappings.COURSE_LIST})"></div>

<!-- Normal list-->
<div class="container pt-5 ">
    <table class="table table-hover table-responsive-xl">
        <thead class="thead-light">
        <tr>
            <th th:replace="fragments/sorting :: sorting(field='id',label='#',url=${urlMappings.COURSE_LIST})"></th>
            <th th:replace="fragments/sorting :: sorting(field='gradeLevels',label=#{course-list.table.grade-levels},url=${urlMappings.COURSE_LIST})"></th>
            <th th:replace="fragments/sorting :: sorting(field='name',label=#{course-list.table.name},url=${urlMappings.COURSE_LIST})"></th>
            <th th:replace="fragments/sorting :: sorting(field='instructor',label=#{course-list.table.instructor},url=${urlMappings.COURSE_LIST})"></th>
            <th th:replace="fragments/sorting :: sorting(field='dayOfWeek',label=#{course-list.table.day-of-week},url=${urlMappings.COURSE_LIST})"></th>
            <th class="col-1" scope="col" th:text="#{course-list.table.action}"></th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        <tr th:each="course : ${courseList}">
            <td th:text="${course.id}"></td>
            <td th:text="${course.gradeLevels}"></td>
            <td th:text="${course.name}"></td>
            <td th:text="${course.instructor}"></td>
            <td th:text="${course.dayOfWeek}"></td>
            <td>
                <a th:href="@{${urlMappings.COURSE_EDIT}(id=${course.id})}" target="_blank"><i
                        class="fa-solid fa-pen-to-square"></i></a>
                &nbsp;
                <a th:href="@{${urlMappings.COURSE_DELETE}(id=${course.id})}" target="_blank" class="delete-link"><i
                        class="fa-solid fa-trash"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<nav th:replace="~{fragments/pagination :: pagination(${currentPage},${totalPages},${urlMappings.COURSE_LIST})}" ></nav>
    <div class="container ">
        <a th:href="@{${urlMappings.COURSE_CREATE}}" class="btn btn-primary"
           th:text="#{course-list.btn.new-course}"></a>
    </div>
</body>
</html>
