<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:replace="~{fragments/general :: head}">
    <title>Kurs erstellen</title>
</head>
<title>Kurs erstellen</title>
<body>

<div class="container-fluid p-5 bg-primary text-white text-center">
    <h1 th:text="${course.id == null ? 'Kurs erstellen' : 'Kurs bearbeiten'}">Kurs erstellen</h1>
</div>
<div class="container pt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <form th:action="@{${course.id == null ? '/courseCreate' : '/courseEdit/' + course.id}}"
                  th:object="${course}"
                  method="post" class="p-4 border rounded">
                <div class="mb-6 pt-3">
                    <label class="form-label" for="name">Name:</label>
                    <input class="form-control" type="text" id="name" th:field="*{name}" required
                           aria-describedby="nameHelp"/>
                    <div id="nameHelp" class="form-text">Kursname aus der Kursliste.</div>
                </div>
                <div class="mb-6 pt-3">
                    <label class="form-label" for="instructor">Instructor:</label>
                    <input class="form-control" type="text" id="instructor" th:field="*{instructor}" required
                           aria-describedby="instructorHelp"/>
                    <div id="instructorHelp" class="form-text">Kursleiter aus der Kursliste.</div>
                </div>
                <div class="mb-6 pt-3">
                    <label class="form-label" for="dayOfWeek">Day of Week:</label>
                    <select id="dayOfWeek" class="form-select" aria-describedby="dayOfWeekHelp"
                            th:field="*{dayOfWeek}">
                        <option th:each="day : ${allDays}"
                                th:value="${day}"
                                th:text="${day}">Wireframe
                        </option>
                    </select>
                    <div id="dayOfWeekHelp" class="form-text">Wochentag an dem der Kurs angeboten wird.</div>
                </div>
                <div class="mb-6 pt-3">
                    <label class="form-label" for="year">Year:</label>
                    <input class="form-control" type="text" id="year" th:field="*{year}" required
                           aria-describedby="yearHelp"/>
                    <div id="yearHelp" class="form-text">Jahrgangsstufen für die der Kurs angeboten wird.</div>
                </div>
                <div class="mb-6 pt-3">
                    <label class="form-label" for="halfYear">Half Year:</label>
                    <input class="form-control" type="number" id="halfYear" th:field="*{halfYear}" required
                           aria-describedby="halfYearHelp"/>
                    <div id="halfYearHelp" class="form-text">Halbjahr für das der Kurs angeboten wird..</div>
                </div>
                <!--                <button type="submit" th:text="${course.id == null ? 'Erstellen' : 'Aktualisieren'}"></button>-->
            </form>
        </div>
    </div>
    <a th:href="@{/courses}">Zurück zur Kursliste</a>
</div>
</body>
</html>
