<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <th:block th:replace="fragments/general :: styles"></th:block>
    <title th:text="#{student-course-list.title}" th:title="#{student-course-assignment.title}"></title>
</head>

<body th:with="baseUrl=${urlMappings.STUDENT_COURSE_LIST} + '?'
             + (${selectedGradeLevel != null and selectedGradeLevel != 'all' ? 'selectedGradeLevel=' + selectedGradeLevel + '&' : ''})">

<!-- Nav bar -->
<div th:replace="fragments/general :: navbar"></div>
<!--<div th:replace="fragments/general :: confirmationModal(#{student-list.delete.confirmation.text})"></div>-->
<div class="container">
    <div class="row d-flex mt-3">
        <form class="col-6" th:action="@{${urlMappings.STUDENT_COURSE_LIST}}" id="searchForm">
            <div class="row form-group">
                <!-- grade level filter -->
                <div class="col-md-2">
                    <select id="grade-level-filter" name="selectedGradeLevel" class="form-select"
                            aria-label="Default select example"
                            onchange="this.form.submit()">
                        <option value="all" th:selected="${selectedGradeLevel == 'all'}">All</option>
                        <option th:each="level : ${gradeLevels}" th:value="${level}" th:text="${level}"
                                th:selected="${level == selectedGradeLevel}"></option>
                    </select>
                </div>
                <!-- ----- -->
            </div>
        </form>
    </div>

    <!-- students table -->
    <div class="row mt-3">
        <div class="col-12">
            <table class="table table-hover table-responsive-xl">
                <thead class="custom-header">
                <tr>
                    <th th:text="#{student-course-list.last-name}"></th>
                    <th th:text="#{student-course-list.last-name}"></th>
                    <th th:text="#{student-course-list.first-name}"></th>
                    <th th:text="#{student-course-list.gradle-level}"></th>
                    <th th:text="#{student-course-list.classname}"></th>
                    <th th:text="#{student-course-list.courses}"></th>
                    <th scope="col" th:text="#{student-course-list.action}"></th>
                </tr>
                </thead>
                <tbody class="table-group-divider">
                <tr th:each="student : ${studentList}">
                    <td th:text="${student.isOkay() ? '✅' : '❌'}"></td>
                    <td th:text="${student.lastName}"></td>
                    <td th:text="${student.firstName}"></td>
                    <td th:text="${student.gradeLevel}"></td>
                    <td th:text="${student.className}"></td>
                    <td th:text="'M'+${student.courseCountMonday+',D'+student.courseCountTuesday+', M'+student.courseCountWednesday+', D'+student.courseCountThursday}"></td>
                    <td>
                        <a th:href="@{|${urlMappings.STUDENT_COURSE_ASSIGNMENT}/${student.id}|(selectedGradeLevel=${selectedGradeLevel})}">
                            <i class="fa-solid fa-pen-to-square black-link"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- ---- -->

    <!-- pagination -->
    <div class="row">
        <div class="col-6">
            <div class="row d-flex mt-2">
                <div class="col-md-3 input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="pageSize">Items per page:</label>
                    </div>
                    <select form="searchForm" name="size" th:value="${pageSize}" onchange="changePageSize()"
                            class="size-select"
                            id="pageSize">
                        <option th:each="s : ${ {5, 10, 20} }" th:value="${s}" th:text="${s}"
                                th:selected="${s == pageSize}"></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <nav th:replace="~{fragments/pagination :: pagination(${currentPage},${totalPages},
                    ${baseUrl}
                )}"></nav>
        </div>
    </div>
    <!-- ---- -->
    <div class="row">
        <div class="col-6 d-flex justify-content-end">
            <a th:href="${urlMappings.STUDENT_COURSE_EXPORT}" class="btn btn-dark"
               th:text="#{student-course-assignment.btn-export}"></a>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $("#btnCloseError").on("click", function (e) {
            e.preventDefault();
            $("#searchForm").submit();
        });
    });

    function changePageSize() {
        $("#searchForm").submit();
    }
</script>
</body>
</html>
