<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:replace="~{fragments/general :: styles}">
    <title th:text="#{student-list.title}">Title</title>
</head>
<body th:with="baseUrl=${urlMappings.STUDENT_LIST} + '?'
            + (${keyword != null and keyword != '' ? 'keyword=' + keyword + '&' : ''})
            + (${selectedGradeLevel != null and selectedGradeLevel != 'all' ? 'selectedGradeLevel=' + selectedGradeLevel + '&' : ''})">

<!-- Nav bar -->
<div th:replace="fragments/general :: navbar"></div>

<div th:replace="fragments/general :: confirmationModal(#{student-list.delete.confirmation.text})"></div>

<div class="container">
    <div class="row d-flex mt-3">
        <form class="col-6" th:action="@{${urlMappings.STUDENT_LIST}}" id="searchForm">
            <div class="row form-group">
                <!-- search field -->
                <div class="col-md-5">
                    <div class="search">
                        <i class="fa fa-search"></i>
                        <input id="keyword" type="search" name="keyword" th:value="${keyword}" class="form-control"
                               placeholder="Enter keyword">
                        <button type="submit" class="btn btn-secondary">Search</button>
                    </div>
                </div>
                <!-- ---- -->
                <!-- grade level filter -->
                <div class="col-md-2">
                    <select id="grade-level-filter" name="selectedGradeLevel" class="form-select"
                            aria-label="Default select example"
                            onchange="this.form.submit()">
                        <option value="all" th:selected="${selectedGradeLevel == 'all'}">All</option>
                        <option th:each="level : ${gradeLevels}" th:value="${level}" th:text="${level}"
                                th:selected="${level == selectedGradeLevel}"></option>
                    </select>
                </div>
                <!-- ----- -->
                <!-- Clear Btn -->
                <div class="col-md-2">
                    <button id="btnClear" class="btn btn-info">Clear</button>
                </div>
            </div>
        </form>
        <form class="col-6" id="uploadForm" method="post" th:action="@{${urlMappings.STUDENT_UPLOAD_FORM}}"
              enctype="multipart/form-data">
            <div class="form-group row">
                <div class="col-9">
                    <input id="input-file" class="form-control" type="file" name="file"/>
                </div>
                <button class="col-2 btn btn-primary btn-sm" type="submit">
                    Upload
                </button>
            </div>
        </form>
    </div>

    <div th:if="${message != null}"
         class="alert alert-primary dismissible fade show text-center mt-3"
         role="alert">
        [[${message}]]
        <button id="btnCloseError" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <!-- students table -->
    <div class="row mt-3">
        <div class="col-12">
            <table class="table table-striped ">
                <thead class="table-primary">
                <tr>
                    <th th:replace="fragments/sorting :: sorting(field='id',label=#{student-list.table.id},url=${baseUrl})"></th>
                    <th th:replace="fragments/sorting :: sorting(field='lastName',label=#{student-list.table.last-name},url=${baseUrl})"></th>
                    <th th:replace="fragments/sorting :: sorting(field='firstName',label=#{student-list.table.first-name},url=${baseUrl})"></th>
                    <th th:replace="fragments/sorting :: sorting(field='gradeLevel',label=#{student-list.table.grade-level},url=${baseUrl})"></th>
                    <th th:replace="fragments/sorting :: sorting(field='className',label=#{student-list.table.class-name},url=${baseUrl})"></th>
                    <th scope="col" th:text="#{student-list.table.action}"></th>
                </tr>
                </thead>
                <tbody class="table-group-divider">
                <tr th:each="student : ${studentList}">
                    <td th:text="${student.id}"></td>
                    <td th:text="${student.lastName}"></td>
                    <td th:text="${student.firstName}"></td>
                    <td th:text="${student.gradeLevel}"></td>
                    <td th:text="${student.className}"></td>
                    <td>
                        <a th:href="@{${urlMappings.STUDENT_EDIT}(id=${student.id})}"><i
                                class="fa-solid fa-pen-to-square"></i></a>
                        &nbsp;
                        <a th:href="@{${urlMappings.STUDENT_DELETE}(id=${student.id})}"
                           class="delete-link"><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- ---- -->

    <!-- pagination -->
    <div class="row">
        <div class="col-6">
            <div class="row d-flex mt-2">
                <div class="col-md-3 input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="pageSize">Items per page:</label>
                    </div>
                    <select form="searchForm" name="size" th:value="${pageSize}" onchange="changePageSize()"
                            class="size-select"
                            id="pageSize">
                        <option th:each="s : ${ {5, 10, 20} }" th:value="${s}" th:text="${s}"
                                th:selected="${s == pageSize}"></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <nav th:replace="~{fragments/pagination :: pagination(${currentPage},${totalPages},
                ${baseUrl}
            )}"></nav>
        </div>
    </div>
    <!-- ---- -->
</div>


<script>
    $(document).ready(function () {
        $("#btnClear").on("click", function (e) {
            e.preventDefault();
            $("#keyword").val("");
            var dropdown = $("#grade-level-filter");
            dropdown.val("all")
            dropdown.closest("form").submit();
        });
    });
    $(document).ready(function () {
        $("#btnCloseError").on("click", function (e) {
            e.preventDefault();
            $("#searchForm").submit();
        });
    });

    function changePageSize() {
        $("#searchForm").submit();
    }
</script>
</body>
</html>
