<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <title>Schülerliste</title>
</head>
<body>
<h1>Schüler</h1>
<a th:href="@{/studentCreate}">Neuen Schüler anlegen</a>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Jahrgang</th>
        <th>Klassenname</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${studentsList}">
        <td th:text="${student.id}"></td>
        <td th:text="${student.name}"></td>
        <td th:text="${student.clazz}"></td>
        <td th:text="${student.className}"></td>
        <td>
            <a th:href="@{/studentEdit/{id}(id=${student.id})}">Bearbeiten</a>
            <a th:href="@{/studentDelete/{id}(id=${student.id})}" onclick="return confirm('Bist du sicher?')">Löschen</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
