<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <th:block th:replace="~{fragments/general :: styles}"></th:block>
    <title th:text="#{student-upload-form.title}">Title</title>
</head>
<title th:text="#{student-create.title}">"</title>
<body>

<!-- Nav bar -->
<div th:replace="~{fragments/general :: navbar}"></div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <form th:action="@{${student.id == null ? studentMappings.URL_STUDENT_CREATE : studentMappings.getStudentEditUrl(student.id)}}"
                  th:object="${student}"
                  method="post" class="p-4 border rounded">
                <div class="mb-6 pt-3">
                    <label class="form-label" for="name" th:text="#{student-modify.name}"></label>
                    <input class="form-control" type="text" id="name" th:field="*{lastName}" required
                           aria-describedby="nameHelp"/>
                    <div id="nameHelp" class="form-text" th:text="#{student-modify.name.help}"></div>
                </div>
                <div class="mb-6 pt-3">
                    <label class="form-label" for="first-name" th:text="#{student-modify.first-name}"></label>
                    <input class="form-control" type="text" id="first-name" th:field="*{firstName}" required
                           aria-describedby="nameHelp"/>
                    <div id="first-name-help" class="form-text" th:text="#{student-modify.first-name.help}"></div>
                </div>
                <div class="mb-6 pt-3">
                    <label class="form-label" for="className" th:text="#{student-modify.class-name}"></label>
                    <input class="form-control" type="text" id="className" th:field="*{className}" required
                           aria-describedby="classNameHelp"/>
                    <div id="classNameHelp" class="form-text" th:text="#{student-modify.class-name.help}"></div>
                </div>
                <div class="mb-6 pt-3">
                    <label class="form-label" for="gradeLevel" th:text="#{student-modify.grade-level}"></label>
                    <input class="form-control" type="text" id="gradeLevel" th:field="*{gradeLevel}" required
                           aria-describedby="gradeLevelHelp"/>
                    <div id="gradeLevelHelp" class="form-text" th:text="#{student-modify.grade-level.help}"></div>
                </div>
                <div class="row pt-5">
                    <div class="col-6 d-flex justify-content-start">
                        <a th:href="@{${studentMappings.URL_STUDENT_LIST}}" class="btn btn-dark"
                           th:text="#{student-modify.link.back}"></a>
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                        <button th:if="${student.id == null}" type="submit" class="btn btn-dark"
                                th:text="#{student-modify.button.create}"></button>
                        <button th:if="${student.id != null}" type="submit" class="btn btn-dark"
                                th:text="#{student-modify.button.modify}"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
