<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <th:block th:replace="fragments/general :: styles"></th:block>
    <title th:text="#{course-list.title}"></title>
</head>

<body>

<!-- Nav bar -->
<div th:replace="fragments/general :: navbar"></div>
<div class="container mt-4">
    <div class="card shadow-sm border-0">
        <div class="card-header bg-darken text-white">
            <h5 class="mb-0">Schülerinformation</h5>
        </div>
        <div class="card-body">
            <div class="row g-3 align-items-center">
                <!-- Nachname -->
                <div class="col-md-2">
                    <label for="studentLastname" class="form-label">Nachname</label>
                </div>
                <div class="col-md-4">
                    <input id="studentLastname" class="form-control bg-light" type="text" th:value="${student.lastName}"
                           disabled>
                </div>

                <!-- Name -->
                <div class="col-md-2">
                    <label for="studentName" class="form-label">Vorname</label>
                </div>
                <div class="col-md-4">
                    <input id="studentName" class="form-control bg-light" type="text" th:value="${student.name}"
                           disabled>
                </div>
            </div>

            <div class="row g-3 align-items-center mt-3">
                <!-- Klasse -->
                <div class="col-md-2">
                    <label for="studentClassname" class="form-label">Klassenname</label>
                </div>
                <div class="col-md-4">
                    <input id="studentClassname" class="form-control bg-light" type="text"
                           th:value="${student.className}" disabled>
                </div>

                <!-- Klassenstufe -->
                <div class="col-md-2">
                    <label for="studentGradeLevel" class="form-label">Klassenstufe</label>
                </div>
                <div class="col-md-4">
                    <input id="studentGradeLevel" class="form-control bg-light" type="text"
                           th:value="${student.gradeLevel}" disabled>
                </div>
            </div>
        </div>
    </div>
</div>

<form th:action="@{/save}" method="post">
    <div class="container mt-5">
        <div class="card shadow-sm border-0">
            <div class="card-header bg-darken text-white">
                <h5 class="mb-0">Kursinformationen</h5>
            </div>
            <div class="card-body">
                <!-- Card 1 -->
                <div class="row">
                    <div class="col-6">
                        <div th:replace="fragments/weekday-course :: cardFragment('Montag',${mondayCourseList})"></div>
                    </div>
                    <div class="col-6">
                        <div th:replace="fragments/weekday-course :: cardFragment('Dienstag',${tuesdayCourseList})"></div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-6">
                        <div th:replace="fragments/weekday-course :: cardFragment('Mittwoch',${wednesdayCourseList})"></div>
                    </div>
                    <div class="col-6">
                        <div th:replace="fragments/weekday-course :: cardFragment('Donnerstag',${thursdayCourseList})"></div>
                    </div>
                </div>

                <button type="submit" class="btn btn-dark mt-3">Speichern</button>
            </div>
        </div>
    </div>
</form>

</body>
</html>
