<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <th:block th:replace="fragments/general :: styles"></th:block>
    <title th:text="#{student-upload-form.title}">Title</title>
</head>
<title th:text="#{student-create.title}">"</title>
<body>

<!-- Nav bar -->
<div th:replace="fragments/general :: navbar"></div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <form th:action="@{${student.id == null ? urlMappings.STUDENT_CREATE : urlMappings.getStudentEditUrl(student.id)}}"
                  th:object="${student}"
                  method="post" class="p-4 border rounded">
                <div class="mb-6 pt-3">
                    <label class="form-label" for="name" th:text="#{student-modify.name}"></label>
                    <input class="form-control" type="text" id="name" th:field="*{lastName}" required
                           aria-describedby="nameHelp"/>
                    <div id="nameHelp" class="form-text" th:text="#{student-modify.name.help}"></div>
                </div>
                <div class="mb-6 pt-3">
                    <label class="form-label" for="first-name" th:text="#{student-modify.first-name}"></label>
                    <input class="form-control" type="text" id="first-name" th:field="*{firstName}" required
                           aria-describedby="nameHelp"/>
                    <div id="first-name-help" class="form-text" th:text="#{student-modify.first-name.help}"></div>
                </div>
                <div class="mb-6 pt-3">
                    <label class="form-label" for="class" th:text="#{student-modify.class}">:</label>
                    <input class="form-control" type="text" id="class" th:field="*{className}" required
                           aria-describedby="classHelp"/>
                    <div id="classHelp" class="form-text" th:text="#{student-modify.class.help}"></div>
                </div>
                <div class="mb-6 pt-3">
                    <label class="form-label" for="className" th:text="#{student-modify.class-name}"></label>
                    <input class="form-control" type="text" id="className" th:field="*{className}" required
                           aria-describedby="classNameHelp"/>
                    <div id="classNameHelp" class="form-text" th:text="#{student-modify.class-name.help}"></div>
                </div>
                <div class="mb-6 pt-3">
                    <label class="form-label" for="gradeLevel" th:text="#{student-modify.grade-level}"></label>
                    <input class="form-control" type="text" id="gradeLevel" th:field="*{gradeLevel}" required
                           aria-describedby="gradeLevelHelp"/>
                    <div id="gradeLevelHelp" class="form-text" th:text="#{student-modify.grade-level.help}"></div>
                </div>
                <!--                <div class="mb-6 pt-3">-->
                <!--                    <label class="form-label" for="year" th:text="#{course-modify.year}"></label>-->
                <!--                    <input class="form-control" type="text" id="year" th:field="*{year}" required-->
                <!--                           aria-describedby="yearHelp"/>-->
                <!--                    <div id="yearHelp" class="form-text" th:text="#{course-modify.year.help}"></div>-->
                <!--                </div>-->
                <!--                <div class="mb-6 pt-3">-->
                <!--                    <label class="form-label" for="halfYear" th:text="#{course-modify.half-year}"></label>-->
                <!--                    <input class="form-control" type="number" id="halfYear" th:field="*{halfYear}" required-->
                <!--                           aria-describedby="halfYearHelp"/>-->
                <!--                    <div id="halfYearHelp" class="form-text" th:text="#{course-modify.half-year.help}"></div>-->
                <!--                </div>-->
                <div class="pt-5">
                    <button th:if="${student.id == null}" type="submit" class="btn btn-secondary col-lg-3"
                            th:text="#{student-modify.button.create}"></button>
                    <button th:if="${student.id != null}" type="submit" class="btn btn-secondary col-lg-3"
                            th:text="#{student-modify.button.modify}"></button>
                    <a th:href="@{${urlMappings.STUDENT_LIST}}" class="btn btn-secondary col-lg-4"
                       th:text="#{student-modify.link.back}"></a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
