<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:replace="~{fragments/general :: styles}">
    <title th:text="#{student-list.title}"></title>
</head>
<body>
<div th:replace="fragments/general :: confirmationModal(#{student-list.delete.confirmation.text})"></div>

<div class="container-fluid p-5 bg-primary text-white text-center">
    <h1 class="display-1" th:text="#{student-list.title}"></h1>
</div>

<div th:replace="fragments/search :: search(${urlMappings.STUDENT_LIST})"></div>

<div class="container pt-5 ">
    <table class="table table-striped ">
        <thead class="table-primary">
        <tr>
            <th th:replace="fragments/sorting :: sorting(field='id',label=#{student-list.table.id},url=${urlMappings.STUDENT_LIST})"></th>
            <th th:replace="fragments/sorting :: sorting(field='name',label=#{student-list.table.name},url=${urlMappings.STUDENT_LIST})"></th>
            <th th:replace="fragments/sorting :: sorting(field='gradeLevel',label=#{student-list.table.grade-level},url=${urlMappings.STUDENT_LIST})"></th>
            <th th:replace="fragments/sorting :: sorting(field='className',label=#{student-list.table.class-name},url=${urlMappings.STUDENT_LIST})"></th>
            <th scope="col" th:text="#{student-list.table.action}"></th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        <tr th:each="student : ${studentList}">
            <td th:text="${student.id}"></td>
            <td th:text="${student.name}"></td>
            <td th:text="${student.gradeLevel}"></td>
            <td th:text="${student.className}"></td>
            <td>
                <a th:href="@{${urlMappings.STUDENT_EDIT}(id=${student.id})}" target="_blank"><i class="fa-solid fa-pen-to-square"></i></a>
                &nbsp;
                <a th:href="@{${urlMappings.STUDENT_DELETE}(id=${student.id})}"
                   target="_blank" class="delete-link"><i class="fa-solid fa-trash"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="container ">
        <a th:href="@{${urlMappings.STUDENT_CREATE}}" class="btn btn-primary" th:text="#{student-list.btn.new-student}"></a>
    </div>
</div>
<nav th:replace="~{fragments/pagination :: pagination(${currentPage},${totalPages},${urlMappings.STUDENT_LIST})}" ></nav>
</body>
</html>
